{% extends "layout.html" %}
{% block css_files %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='assets/css/app.css') }}">
{% endblock %}

{% block js_files %}

<script type="text/javascript">
    function go_write_diary() {
        window.location.href='/go_write_diary/' + {{ user_id }};
    }

    function go_edit_diary(diary_id) {
        alert('edit');
        window.location.href='/go_edit_diary/' + diary_id;
    }

    function delete_diary(diary_id) {
        alert('delete');
        window.location.href='/delete_diary/' + diary_id;
    }

</script>

{% endblock %}

{% block body %}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">我的</strong> /
        <small>日记列表</small>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" onclick="go_write_diary()" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 写日记</button>
                <!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>-->
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}">
                <option value="0">所有类别</option>
                <option value="1">舒服感情</option>
                <option value="2">吐槽</option>
                <option value="3">秀恩爱</option>
            </select>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                <tr>
                    <th class="table-title">标题</th>
                    <th class="table-type">类别</th>
                    <th class="table-type">天气</th>
                    <th class="table-date am-hide-sm-only">时间</th>
                    <th class="table-set">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for diary in diaries %}
                <tr>
                    <td><a href="/view_diary/{{ diary.id }}">{{ diary.title }}</a></td>
                    <td>{{ diary.type }}</td>
                    <td>{{ diary.weather }}</td>
                    <td class="am-hide-sm-only">{{ diary.date }}</td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" onclick="go_edit_diary({{ diary.id }})" class="am-btn am-btn-default am-btn-xs am-text-secondary">
                                    <span class="am-icon-pencil-square-o"></span> 编辑
                                </button>
                                <!--<button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span
                                        class="am-icon-copy"></span> 复制-->
                                </button>
                                <button type="button" onclick="delete_diary({{ diary.id }})" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">
                                    <span class="am-icon-trash-o"></span> 删除
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="am-cf">
                共 {{ count }} 条记录
                <div class="am-fr">
                    <ul class="am-pagination">
                        <li class="am-disabled"><a href="#">«</a></li>
                        <li class="am-active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <hr/>
            <p>注：.....</p>
        </form>
    </div>
</div>

{% endblock %}